html {
    --mainText: white;
}

body.class-index {
    background-image: url('https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: auto;
    font-family: '', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body.class-about {
    background-color: black;
    color: var(--mainText);
    font-family: 'Montserrat', sans-serif;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home {
    color: white;
}

#profileImage {
    float: left;
    padding: 90px;
}

#homeLink {
    margin-right: 5px;
}

#linkColor {
    color: white;
    border: 1px solid white;
    padding: 7px;
    text-decoration: none;
}

#Page-Header {
    padding-left: 90px;
}

#introText {
    padding: 70px;
    float: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}